.keypad-container{
    display: inline-table;
    justify-content: center;
}
body{
    text-align: center;
    background: linear-gradient(to right,rgb(177, 136, 177),rgb(186, 205, 221),rgb(177, 136, 177));
}
button{
    padding: 20px 25px;
    margin: 7px 7px;
    box-shadow: 0 4px lightslategray;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(66, 59, 60), rgb(24, 20, 22));
    color: whitesmoke;
    cursor: pointer;
    transition: 0.2s;
}    
button:hover{
    font-weight: 700;
    font-size: 30px;
    background: radial-gradient(rgb(124, 119, 119),rgb(32, 32, 26));
    color: rgb(15, 12, 12);
    border: 1px solid black;

}