html, body{
  margin: 0;
  padding: 0;

}
*{
box-sizing: border-box;

}
:root{

--color1: #B5651D;
--color2: rgb(230, 215, 192);
--color3: black;
--head-shape: 50% 50% 50% 50% / 40% 40% 60% 60%;
--border: 4px solid var(--color3);
 --ear-shape: 80% 80% 80% 80%;


}
.text{
    color: var(--color1);
    font: 30px bolder cursive;
}
.scene{
   background: #2C3E50;
   width: 100vw;
   height: 700px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

}
#puppy{
  position: relative;
  perspective: 500px;
  transform: translateX(-70px);


}
#puppy:hover .ear{
    transform: rotateY(8deg);
    transition: 0.3s;
    transform-origin: bottom center;
    cursor: pointer;
}
.ear{
  width: 80px;
  height: 125px;
  border: var(--border);
  border-radius: var(--ear-shape);
  background: var(--color1);
  position: absolute;
  top: 25px;
  z-index: 2;
  overflow: hidden;

}
.ear.left{
  left: -35px;
  transform: rotate(22deg);
    
}
.ear.right{
  right: -230px;
  transform: rotate(-22deg);


}
.body{
 width: 200px;
 height: 215px;
 border: var(--border);
border-radius: var(--head-shape);
 position: absolute;
 z-index: 100;
 background: #FDF5E6;
 transform-style: preserve-3d;
}
.eyePatch{
   width: 85px;
  height: 90px;
  background: var(--color1);
  border-radius: 100% 80% 80% 90% / 100% 100% 70% 90%;
  position: absolute;

}
.eyePatch.left{
  
  top: 30px;
  left: 1px;
  transform: scaleX(-1);
  
  
}
.eyePatch.right{
  right: 1px;
  top: 30px;
}
.eye{
  width: 40px;
  height: 49px;
  border: 2px solid var(--color3);
  border-radius: 60%;
  position: absolute;
  top: 67px;
  background: white;
 
}
.eye.left{
   left: 30px;
   transform: rotate(-7deg)


}
.eye.right{
   right: 25px;


}
.eye.left::after, .eye.right::after{
   content: "";
   position: absolute;
   top: 12px;
   transform: translateX(3px);
   width: 27px;
   height: 27px;
   background: var(--color1);
   border: 1px solid var(--color3);
   border-radius: 50%;
   
}
.pupil{
     width: 13px;
     height: 13px;
     background: var(--color3);
     border-radius: 50%;
     position: absolute;
     top: 20px;
     z-index: 1;
     transform: translateX(10px);
 
}
.pupil::before{
   content: "";
   position: absolute;
   top: -3px;
   width: 8px;
   height: 8px;
   background: whitesmoke;
   border-radius: 50%;
}
.pupil::after{
    content: "";
    position: absolute;
    top: -4px;
    width: 4px;
    height: 4px;
    background: whitesmoke;
    border-radius: 50%;
    transform: translateX(7px);

}
.nose.top{
  width: 45px;
  height: 22px;
  background: var(--color3);
  position: absolute;
  top: 130px;
  transform:  translateX(72px);
  border-radius: 10% 10% 50% 50% / 20%
    20% 80% 80%;
  border: 1px solid var(--color3);

}
.nose.top::before{
  content: "";
  position: absolute;
  left: 2px;
  width: 10px;
  height: 5px;
  background: whitesmoke;
  border-radius: 50%;
}
.nose.top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 15px;
  background: #8B4513;
  opacity: 0.6;
}
.mouth {
  position: absolute;
  top: 150px; 
  left: 56px;
  width: 40px;
  height: 20px;
  border-bottom: 2px solid #8B4513;
  border-radius: 0 0 50% 50%;
  opacity: 0.5;
  z-index: 1;
}
.mouth::after{
 content: "";
 position: absolute;
  right: -38px;
  top: -2px;
 width: 40px;
  height: 20px;
  border-bottom: 2px solid #8B4513;
  border-radius: 0 0 50% 50%;
  opacity: 0.5;
 
}
.tongue{
width: 25px;
height: 25px;
background: var(--color1);
position: absolute;
top: 167px;
left: 82px;
border-radius: 0 0 50% 50%;
border: 2px solid var(--color3);
 z-index: 0;
  animation: pant 0.8s infinite;
}
.tongue::before{
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  background: var(--color3);
  left: 45%;
  transform: rotate(5deg);
 
}
@keyframes pant {
    0%, 100% {
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(1.1);
    }
}
.whiskers {
  position: absolute;
  transform: translateX(-50%) rotate(275deg);
  width: 100px;
  height: 30px;
  background-image: 
    radial-gradient(circle,black 2px, transparent 2px),
    radial-gradient(circle, black 2px, transparent 2px),
    radial-gradient(circle, black 2px, transparent 2px);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 20% 20%, 30% 50%, 25% 80%, 80% 20%, 70% 50%, 75% 80%;
  opacity: 0.4;
}
.whiskers.left{
   top: 120px;
  left: 38%;
}
.whiskers.right{
  top: 121px;
  right: -20px;
}
.neck{
  width: 120px;
  height: 75px;
  background: var(--color1);
  border: 3px solid var(--color3);
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 170px;
 transform: translateX(40px);
  z-index: 0;
}