
:root {
  --color1: black;
  --color2: #f9ad01;
  --color3: #a84300;
  --color4: white;
  --color5: #4a4a4a;

}
.scene{
   height: 100vh;
   background: linear-gradient(180deg, teal, teal);
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  
}

.angryBird{
   position: absolute;
   animation: bob 5s ease-in-out infinite;

}
.body{
  width: 200px;
  height: 200px;
  background: var(--color1);
  border-radius: 50% 50% 49% 50%;
  border: 6px solid var(--color1);
  position: absolute;
  right: -100px;
  bottom: -120px;
  box-shadow: inset -15px -15px 40px rgba(255, 255, 255, 0.2),
              inset 20px 20px 50px rgba(0, 0, 0, 0.9);
  
}
.body:hover{
    cursor: pointer;
}
.feather{
  width: 10px;
  height: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 70px solid var(--color1);
  z-index: 1;
  position: absolute;
  top: -150px;
  left: -15px;
  transform: rotate(12deg);
}

.feather::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 15px;
  background: var(--color2);
  top: -66px;
  left: -2px;
  animation: ignite 0.3s infinite alternate;

}
.brow{
   width: 65px;
   height: 12px;
   background: var(--color3);
   border-radius: 3px;
   position: absolute;
   top: 30px;
   z-index: 1;
}
.brow.left{
   left: 3px;
   transform: rotate(12deg);

}
.brow.right{
   right: -1px;
  transform: rotate(-12deg);

}
.eye-patch{
  width: 50px;
  height: 50px;
  background: var(--color5);
  border-radius: 50%;
  position: absolute;
  top: 35px;
}
.eye-patch.left{
  left: 15px;

}
.eye-patch.right{
   right: 15px;

}
.eye{
   width: 28px;
   height: 25px;
   background: var(--color4);
   border-radius: 50%;
   border: 3px solid var(--color1);
   position: absolute;
   top: 8px;

}
.eye.left{
   right: 2px;

}
.pupil{
    width: 10px;
    height: 10px;
    background: var(--color1);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    
}
.pupil::after{
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: var(--color4);
  border-radius: 50%;
  top: 2px;
  right: 0;
}
.pupil.left{
    right: 4px;

}
.pupil.right{
     left: 4px;
}

.beak{
    width: 12px;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 15px solid var(--color2);
    position: absolute;
    top: 70px;
    transform: translateX(70px);
     border-radius: 20px;

}
.beak::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid var(--color2);
    top: 20px;
   transform: translateX(-26px);
   border-radius: 25px;         
}
.belly{
   width: 120px;
   height: 60px;
   background: var(--color5);
   border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
   position: absolute;
   top: 140px;
   left: 40px;

}
@keyframes bob {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
@keyframes ignite {
    0%{
        box-shadow: 0 0 5px #ff6600, 0 0 10px #ffcc00;
        filter: brightness(1);
    }
    100%{
        box-shadow: 0 0 15px #ff3300, 0 0 25px #ff6600;
        filter: brightness(1.3);
    }
}