*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
:root {
  --neon: #00f2ff;
  --dark: #121212;
}

body {
  background: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gallery-container {
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 800px;
}

.card {
  flex: 1;
  height: 300px;
  background: var(--dark);
  border: 1px solid #222;
  border-radius: 15px;
  display: flex;
  align-items: flex-end; 
  padding: 20px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Smooth animation */
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


.card:hover {
  flex: 3; 
  border-color: var(--neon);
  box-shadow: 0 0 30px rgba(0, 242, 255, 0.2);
  transform: translateY(-10px);
}

.card-content {
  color: white;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.card:hover .card-content {
  opacity: 1; 
}
@media (max-width: 600px) {
    body{
        justify-content: flex-end;

    }
  .gallery-container {
    flex-direction: column;
    height: 90vh;
  }
  .card {
    height: auto;
    width: 50%;
  }
  .card:hover {
    flex: 3;
    height: auto;
    transform: translateY(0);
  }
}