*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bbg-color: lightblue;
    --color0: red;
    --color1: black;
    --color2: white;
    --color3: burlywood;

}
.scene{
     width: 100vw;
   height: 100vh;
   background: linear-gradient(180deg, #87CEEB 0%, #4A90E2 100%);
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
  
}
#angryBird{
   animation: bob 5s ease-in-out infinite;
   position: relative;
}

.birdBody{
    width: 200px;
    height: 200px;
    background-color: var(--color0);
    border-radius: 50%;
    border: 1px solid var(--color1); 
    position: relative;
    z-index: 2;
   

}
.birdBody:hover{
    cursor: pointer;
    box-shadow: 0 0 10px crimson;
}
.feather{ 
   height: 50px;
   width: 25px;
   background-color: var(--color0);
   border-radius: 50% 60% 50% 60% / 50% 50% 50% 50%;
   border: 1px solid var(--color1);
   position: absolute;
}
.feather.left{
       left: 80px;
       top: -25px;
       transform: rotate(296deg);
        z-index: 1;
}
.feather.right{
        left: 100px;
        top: -20px;
        transform: rotate(334deg);
       
}
.eyeBrow{
    width: 70px;
    height: 20px;
    background-color: var(--color1);
    position: absolute;
    top: 60px;
    z-index: 1;

}
.eyeBrow.left{
        left: 31px;
        transform: rotate(10deg);
}
.eyeBrow.right{
         right: 31px;
         transform: rotate(-10deg);
}
.eye{ 
    width: 50px;
    height: 50px;
    background-color: var(--color2);
    border: 1px solid var(--color1);
    border-radius: 50%;
    position: absolute;
    top: 70px;
    z-index: 0;
    box-shadow: 0 0 10px black;

}
.eye.left{
     left: 50px;

}
.eye.right{
     right: 50px;
 }
.pupil{
    width: 20px;
    height: 20px;
    background-color:  var(--color1);
    border-radius: 50%;
    position: absolute;
    top: 10px;
}
.pupil.left{
       right: 10px;
}
.pupil.right{
       left: 10px;

}
.pupil.left::after, .pupil.right::after{
       content: " ";
       position: absolute;
       width: 5px;
       height: 5px;
       border-radius: 50%;
       background-color: var(--color2);
       top: 2px;
       right: 2px;
}
.beak{
    
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5; 
    filter: drop-shadow(0 1px 0 #000)
            drop-shadow(1px 0 0 #000) 
            drop-shadow(0 -1px 0 #000) 
            /*drop-shadow(-1px 0 0 #000)*/;

}
.beak.top{
     height: 0;
     width: 5px;
    border-left:  25px solid transparent; 
     border-right: 25px solid transparent;
    border-bottom: 25px solid #f7941d;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
    top: 51%;

}
.beak.bottom {
  width: 20px;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #f7941d;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  top: 63.8%;
}
.belly{
    background-color: var(--color3);
    width: 110px;
    height: 70px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;
    top: 128.4px;
    left: 43px;
    transform: translateX(0);

}

@keyframes bob {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    
}

.tail.top, .tail.middle, .tail.bottom {
  position: absolute;
  height: 0;
  width: 20px; 
  border-bottom: 45px solid black; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
   z-index: 0;
   
}

.tail.top {
  transform: rotate(115deg) translateY(40px);
  left: 30px;
  bottom: -50px;
  top: 40%;
}

.tail.middle {
  transform: rotate(90deg) translateY(60px);
  left: 39px;
  top: 39%;
 
}

.tail.bottom {
  transform: rotate(61deg) translateY(39px);
  left: 30px;
  top: 36%;
 
}
body::after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, transparent 0%, #0a0a0a 100%);
}