*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --bbg-color: black;
    --scene-color: linear-gradient(45deg, skyblue, lightblue);
    --panda-color: black;
    --head-color: white;
    --blush-color: lightpink;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--bbg-color);
}
.scene{
    width: 500px;
    height: 300px;
    background: var(--scene-color);
    position: relative;
    transform: translateY(50%);
    border-radius: 10px;
    animation: scene-animation 5s ease-in-out infinite;
}
#panda-container{
    position: absolute;
    animation: bounce-squish 8s ease-in-out infinite;  
    transform-origin: bottom;
    left: 4%;
}
.head{
    width: 250px;
    height: 200px;
    background-color: var(--head-color);
    border-radius: 60% 60% 55% 55%;
    border: 7px solid var(--panda-color);
    z-index: 1;
    position: absolute;
    left: 100px;
   
}
.ear{
    width: 60px;
    height: 70px;
    background-color: var(--panda-color);
    position: absolute;
    border-radius: 40% 50% 40% 50%;
}
.ear.left{
    left: 100px;
    transform: scaleX(-1) rotate(-45deg);
    z-index: 0;
}
.ear.right{
    right: -350px;
    transform: rotate(-45deg);
}
.eye-patch{
    width: 40px;
    height: 50px;
    background-color: var(--panda-color);
    border-radius: 60%;
    position: absolute;
    top: 65px;
    z-index: 1;
}
.eye-patch.left{
    left: 45px;
    transform: rotate(45deg);
}
.eye-patch.right{
    right: 45px;
    transform: rotate(-45deg);
}
.eye{
    width: 10px;
    height: 15px;
    background-color: var(--head-color);
    border-radius: 55%;
    position: absolute;
    top: 12px;
    
}
[class="eye-patch left"] > .eye{
    right: 10px;
}
[class="eye-patch right"] > .eye{
    left: 10px;
}
.nose{
    width: 30px;
    height: 18px;
    background-color: var(--panda-color);
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%) scaleY(0.9); 
    border-radius: 60% 60% 90% 90%;
}
 .mouth {
  width: 15px;
  height: 10px;
  border: 3px solid black; 
  border-top: transparent; 
  position: absolute;
  top: 126px; 
  border-radius: 0 0 10px 10px;;
}

.mouth.left {
  left: 100px; 
}

.mouth.right {
  left: 115px; 
}
.blush{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blush-color);
    position: absolute;
    top: 100px;
    opacity: 0.6;
    animation: blushAnimation 3s ease-in-out infinite;

}
[class="blush left"]{
    left: 40px;
}
[class="blush right"]{
    right: 40px;
}
/*.shadow{
    width: 100px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 270px;
    left: 40%;
    transform: translateX(-50%);
    animation: shadow-scale 0.8s infinite ease-in-out;

}

@keyframes shadow-scale{
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}  */
@keyframes blushAnimation {
    0%, 100% { opacity: 0.6; }
    50% { opacity: 1; }
}
@keyframes bounce-squish {
    0%, 100% {
        transform: translateY(0) scaleY(1, 1);
    }
  /*  45% {
        transform: translateY(100px) scaleY(1);
    } */
    50%{
        transform: translateY(-80px) scaleY(0.95, 1.05);
    }
  /*  55% {
        transform: translateY(100px) scaleY(1);
    } */
     95% { transform: translateY(0) scale(1.1, 0.8);

     }
}
@keyframes scene-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}