*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --chick-color: #ffef33;
  --leg-color: #f3a633;
  --scene-color: deepskyblue;
  --speed: 0.8s;
  --eyes-color: black;
  --blush-color: goldenrod;
  --beak-color: goldenrod;
  --wing-color: gold;
  --ground-color: rgb(37, 144, 250);
  --cloud-color: white;
}
.scene {
    width: 100vw;
    height: 100vh;
    background: var(--scene-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.chick {
  position: relative;
  width: 100px;
  height: 100px;
  animation: body-bob var(--speed) infinite ease-in-out;
}
.crowns{
    position: absolute;
    top: -90px;
}
.crown.left, .crown.right{
    width: 20px;
    height: 50px;
    background-color: var(--chick-color);
   position: absolute;
   border-radius: 50% 50% 0 0;

}
.crown.left{
    transform: rotate(-10deg);
    transition: all ease-in-out;
    z-index: -1;
    left: 50px;
}
.crown.right{
   transform: rotate(10deg);
   transition: all ease-in-out;
   z-index: -1;
   right: -90px;
}
.head{
    width: 150px;
    height: 100px;
    background-color: var(--chick-color);
    position: absolute;
    border-radius: 60% 60% 0 0;
    top: -50px;
}
.eyes{
    width: 25px;
    height: 25px;
    background-color: var(--eyes-color);
    border-radius: 45%;
    position: absolute;
    right: 15px;
    top: 55px;
}
.blush{
    width: 19px;
    height: 19px;
    background-color: var(--blush-color);
    border-radius: 50px;
    position: absolute;
    right: 50px;
    top: 80px; 
}
.beak{
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid var(--beak-color);
    position: absolute;
    left: 107px;
    top: 50px;
    z-index: -1;
    transform: rotate(90deg);
}
.lower-body{
     width: 250px;
    height: 150px;
    background-color: var(--chick-color);
    position: absolute;
    left: -100px;
    top: 50px;
    border-radius: 0 0 70% 70%;
}
.wing{
    width: 100px;
    height: 50px;
    background-color: var(--wing-color);
    position: absolute;
    top: -20px;
    left: 40px;
    z-index: 3;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    transform: rotate(18deg);
}
.leg {
  width: 30px;
  height: 8px;
  background: var(--leg-color);
  border-radius: 10px;
  position: absolute;
  bottom: -150px;
  z-index: 2;
  transform-origin: center;
}

.leg.left {
  animation: walk-cycle var(--speed) infinite linear;
}

.leg.right {
   top: 201px;
  right: 10px;
 transform: rotate(-18deg);
  animation: walk-cycle var(--speed) infinite linear;
  animation-delay: calc(var(--speed) / -2);
}
.ground{
  width: 30%;
    height: 4%;
    background-color: var(--ground-color);
    position: absolute;
    bottom: 106px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}
.cloud1{
  top: 15%;
  left: 5%;
  animation-duration: 25s;
  animation-delay: -5s;
}
.cloud1a{
    width: 200px;
    height: 50px;
    background-color: var(--cloud-color);
    position: absolute;
    top: 10px;
    left: 50px;
    border-radius: 50px;
}
.cloud1b{
    width: 100px;
    height: 70px;
    position: absolute;
    top: -30px;
    left: 60px;
    background-color: var(--cloud-color);
    border-radius: 100px 100px 0 0;
}
.cloud1c{
    width: 80px;
    height: 50px;
    background-color: var(--cloud-color);
    position: absolute;
    right: -25px;
    top: -30px;
    border-radius: 100px 100px 0 0;
}
.cloud2{
  top: 45%;
  left: 1%;
  animation-duration: 35s;
  animation-delay: -15s;
}
.cloud2a{
    width: 170px;
    height: 50px;
    background-color: var(--cloud-color);
    position: absolute;
    bottom: 30px;
    left: 1%;
    border-radius: 50px;
}
.cloud2b{
    width: 80px;
    height: 50px;
    position: absolute;
    top: 80px;
    left: 10px;
    background-color: var(--cloud-color);
    border-radius: 100px 100px 0 0;

}
.cloud2c{
    width: 70px;
    height: 60px;
    background-color: var(--cloud-color);
    position: absolute;
    right: 50px;
    top: 85px;
    border-radius: 100px 100px 0 0;
}
.cloud3{
  top: 10%;
  right: 10%;
  animation-duration: 30s;
  animation-delay: -2s;
}
.cloud3a{
    width: 150px;
    height: 50px;
    background-color: var(--cloud-color);
    position: absolute;
    top: 50px;
    right: 20%;
    border-radius: 50px;
    z-index: 1;
}
.cloud3b{
    width: 80px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: var(--cloud-color);
    border-radius: 100px 100px 0 0;
}
.cloud3c{
    width: 60px;
    height: 40px;
    background-color: var(--cloud-color);
    position: absolute;
    right: 50px;
    top: 19px;
    border-radius: 100px 100px 0 0;
}

.cloud1, .cloud2, .cloud3{
    width: 200px;
    height: 200px;
    position: absolute;
    white-space: nowrap;
    animation: float-clouds 20s linear infinite;
}
@keyframes walk-cycle {
  0% { transform: translateX(20px) translateY(0); }
  25% { transform: translateX(0) translateY(-10px); } /* Lifting the foot */
  50% { transform: translateX(-20px) translateY(0); } /* Foot hits the ground */
  75% { transform: translateX(0) translateY(0); }    /* Foot slides back */
  100% { transform: translateX(20px) translateY(0); }
}

@keyframes body-bob {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(-5px); } /* Highest point when foot lifts */
  50% { transform: translateY(2px); }  /* Impact point when foot hits ground */
  75% { transform: translateY(-5px); }
}
@keyframes float-clouds{
  0%{
    left: 110%;
    transform: translateY(0);
  }
  25%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(-10px);
  }
  100%{
    left: -30%;
    transform: translateY(0);
  }

}